/* Sidebar */
.sidebar {
  width: 256px;
  background-color: var(--background);
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow-y: auto;
  border-right: 1px solid var(--border);
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.sidebar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Database Switcher */
.databaseSwitcherWrapper {
  position: relative;
  margin-top: 8px;
  width: 100%;
}

.databaseSwitcher {
  position: relative;
  width: 100%;
}

.switcherButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid var(--border);
  color: var(--foreground);
}

.switcherButton:hover {
  background-color: var(--muted);
}

.switcherButton span {
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.switcherButton .icon {
  color: var(--muted-foreground);
  flex-shrink: 0;
}

.dropdown {
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  list-style-type: none;
  padding: 8px 0;
  margin: 0;
  border-radius: 6px;
  background-color: var(--background);
  border: 1px solid var(--border);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  min-width: 200px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  cursor: pointer;
  color: var(--foreground);
  transition: all 0.2s;
  font-size: 14px;
}

.dropdownItem:hover {
  background-color: var(--muted);
}

/* Sidebar Tables & Collections */

.sidebarButton {
  width: 100%;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: var(--muted-foreground);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--muted-foreground);
}

.title {
  margin-left: 16px;
}

.sidebarList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebarItem {
  cursor: pointer;
  transition: all 0.2s;
  margin-left: 20px;
}

.tableHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: transparent;
}

.tableTitle {
  font-size: 16px;
  color: var(--primary);
}

.collapseIcon {
  margin-left: auto;
  transition: transform 0.2s;
}

.collapseIcon.expanded {
  transform: rotate(90deg);
}

.schemaContainerTables {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  border-left: 1px solid var(--border);
}

.schemaItemTables {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 16px;
  background-color: transparent;
  border: none;
}

.schemaKeyTables {
  color: var(--primary);
}

.schemaValueTables {
  color: var(--muted-foreground);
  margin-left: auto;
}

.schemaContainerCollections {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  border-left: 1px solid var(--border);
}

.schemaItemCollections {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 16px;
  border: none;
  background-color: transparent;
}

.schemaKeyCollections {
  color: hsl(349.7 89.2% 60.2%);
  margin-right: 12px;
  font-weight: 700;
}

.schemaValueCollections {
  color: var(--muted-foreground);
}
